.center-content {
  text-align: center;
  justify-content: center;
}

.link {
  text-align: center;
  font-size: x-large;
}

.divider {
  margin-top: 25px;
  margin-bottom: 25px;
  border-bottom: 1px;
  border-style: solid;
  border-color: black;
}

.token-text-field {
  text-align: center;
  margin-top: 25px;
}

.enter-button {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.splitcolumns {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}